/* Import Font Poppins and Roboto */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0 !important;
  margin: 0;
  box-sizing: border-box !important;
}

body p {
  margin-bottom: 0;
}

:root {
  --white: white;
  --black: black;
  --sim-dark-green: #2e8b8c;
  --sim-cream: #c9c9c9;
  --sim-blue: #161c2d;
  --sim-dark-gray: #2c2c2c;
  --sim-gray: #666666;
  --sim-light-gray: #505050;
  --sim-light-black: #2a2a2a;
}

/* Width */

.max-width-1280px {
  max-width: 1280px !important;
}

/* Font size */

.fs-17px {
  font-size: 17px;
}

.fs-20px {
  font-size: 20px;
}

.fs-24px {
  font-size: 24px;
}

.fs-28px {
  font-size: 28px;
}

.fs-34px {
  font-size: 34px;
}

.fs-40px {
  font-size: 40px;
}

.fs-48px {
  font-size: 48px;
}

.fs-64px {
  font-size: 64px;
}

/* Hero Section */

.hero-sec {
  position: relative;
  padding-bottom: 130px !important;
}

.header-sec ul {
  padding-left: 150px !important;
}

.hero-sec-main-content {
  padding-left: 100px !important;
}

.header-sec ul li a {
  color: var(--white);
  font-size: 15px;
  line-height: 26px;
}

.hero-img-sec {
  position: absolute;
  top: 0px;
  z-index: -1;
  filter: brightness(0.6);
}

.hero-img-sec,
.hero-img-sec img {
  width: 100% !important;
  height: 100% !important;
}

.call-now-btn {
  position: absolute;
  background-color: var(--sim-dark-green);
  color: var(--white);
  display: inline-block;
  border-radius: 20px;
  top: 28px;
  right: 28px;
  border: none;
}

.hero-sec-heading {
  max-width: 490px;
  color: var(--white);
  margin-top: 300px !important;
}

.hero-sec-para {
  max-width: 560px;
  color: var(--sim-cream);
}

@media screen and (max-width: 768px) {
  .hero-sec .call-now-btn {
    display: none !important;
  }

  .header-sec ul {
    padding-left: 0px !important;
    justify-content: center !important;
  }

  .hero-sec .hero-sec-main-content {
    padding-left: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .body .hero-sec {
    padding: 0 0px 50px !important;
  }

  .header-sec ul {
    justify-content: space-around !important;
  }

  .header-sec ul li {
    margin: 0 !important;
  }

  .hero-sec .hero-sec-heading {
    font-size: 40px !important;
  }

  .hero-sec .hero-sec-para {
    font-size: 20px !important;
  }
}

/* Quality Section */

.quality-sec {
  border-bottom: 1px solid #e7e9ed;
}

.quality-sec .quality-box1:first-child,
.quality-sec .quality-box3:first-child {
  color: var(--sim-blue);
}

.quality-sec .quality-box1 > p:nth-child(2),
.quality-sec .quality-box3 > p:nth-child(2) {
  color: var(--sim-gray) !important;
  width: 100px;
}

.quality-sec .quality-box2 {
  color: var(--black);
}

.quality-sec .quality-box2 span {
  color: var(--sim-dark-green);
}

@media screen and (max-width: 1050px) {
  .body .quality-sec {
    display: block !important;
  }

  .quality-sec div {
    justify-content: center;
  }

  .quality-sec .quality-box2 {
    text-align: center;
    margin: 20px 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .body .quality-sec {
    padding: 50px 20px !important;
  }

  .quality-sec .quality-box1 > p:nth-child(1),
  .quality-sec .quality-box3 > p:nth-child(1) {
    font-size: 32px !important;
  }

  .quality-sec .quality-box2 {
    font-size: 28px !important;
  }
}

/* About Section */

.about-sec .about-sec-img-sec,
.about-sec .about-sec-main-box {
  width: 50%;
}

.about-sec .about-sec-img-sec div {
  position: relative;
  height: 90%;
  width: 85%;
  background: rgb(255, 255, 255);
  padding: 10px;
}

.about-sec-img-sec div::after {
  content: "";
  position: absolute;
  bottom: -35px;
  right: -35px;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  z-index: -1;
}

.about-sec-heading {
  color: var(--sim-dark-gray);
}

.about-sec-main-box .about-sec-fist-para,
.about-sec-main-box .about-sec-last-para {
  color: var(--sim-gray);
}

.about-sec-quailitys div p {
  color: var(--sim-light-gray);
}

.about-sec-btn {
  color: var(--white);
  background-color: var(--sim-dark-green);
  border: none;
}

@media screen and (max-width: 1024px) {
  .body .about-sec {
    display: block !important;
  }

  .about-sec .about-sec-main-box {
    width: 100% !important;
    margin-top: 100px !important;
  }

  .about-sec-img-sec {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 595px) {
  .body .about-sec {
    padding: 50px 20px !important;
  }

  .about-sec .about-sec-img-sec {
    width: 100% !important;
  }

  .about-sec-main-box .about-sec-heading {
    font-size: 32px !important;
  }

  .about-sec-quailitys div {
    align-items: start !important;
  }

  .about-sec-quailitys div i {
    margin-top: 18px !important;
  }

  .about-sec-main-box .about-sec-btn {
    padding: 10px !important;
    font-size: 16px;
  }
}

/* Contact Us Section */

.contact-us-sec {
  background-color: rgba(46, 139, 140, 0.1);
}

.contact-us-sec .contact-us-left-sec,
.contact-us-sec .contact-us-right-sec {
  width: 50%;
}

.contact-us-form {
  border: 2px solid #e5e5e6;
  border-radius: 8px;
  background-color: var(--white);
}

.contact-us-form-heading {
  color: var(--sim-light-black);
}

.contact-us-form input,
.contact-us-form textarea {
  border: 2px solid #e7e9ed;
}

.contact-us-form input,
.contact-us-form textarea,
.contact-us-form button {
  width: 100%;
  padding: 20px !important;
  border-radius: 8px;
}

.contact-us-form button {
  background-color: var(--sim-dark-green);
  border: none;
  color: var(--white);
}

.contact-us-form textarea {
  max-height: 150px;
}

@media screen and (max-width: 992px) {
  .body .contact-us-sec {
    display: block !important;
  }

  .contact-us-sec .contact-us-left-sec,
  .contact-us-sec .contact-us-right-sec {
    width: 100%;
  }

  .contact-us-sec .contact-us-right-sec {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 576px) {
  .body .contact-us-sec {
    padding: 50px 20px !important;
  }

  .contact-us-left-sec div img {
    width: 100% !important;
  }

  .contact-us-form-heading {
    font-size: 28px !important;
    margin-bottom: 30px !important;
  }

  .contact-us-right-sec .contact-us-form {
    padding: 15px !important;
  }

  .contact-us-form input,
  .contact-us-form textarea {
    padding: 10px !important;
  }

  .contact-us-form textarea {
    margin-bottom: 20px !important;
  }

  .contact-us-form button {
    width: 80% !important;
    padding: 8px !important;
  }
}

/* Client Section */

.clients-sec {
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.clients-sec-top-sec h2 {
  color: var(--sim-dark-gray);
  margin-bottom: 100px !important;
}

.carousel-para,
.clients-name {
  color: var(--sim-gray);
}

.clients-sec-bottom-sec .carousel-inner {
  width: 95% !important;
}

.clients-sec-bottom-sec button {
  width: auto !important;
}

@media screen and (max-width: 576px) {
  .body .clients-sec {
    padding: 50px 20px !important;
  }

  .clients-sec-top-sec h2 {
    font-size: 32px !important;
    margin-bottom: 60px !important;
  }

  .carousel-img-sec img {
    height: 90px !important ;
    margin-bottom: 40px;
  }

  .carousel-para,
  .clients-name {
    font-size: 16px !important;
  }

  .clients-sec-bottom-sec .carousel-inner {
    width: 80% !important;
  }

  .carousel-item div {
    margin-bottom: 0px !important;
  }
}
