/* Import Font Poppins and Roboto */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

:root {
  --white: white;
  --black: black;
  --sim-dark-green: #2e8b8c;
  --sim-cream: #c9c9c9;
  --sim-blue: #161c2d;
  --sim-dark-gray: #2c2c2c;
  --sim-gray: #666666;
  --sim-light-gray: #505050;
  --sim-light-black: #2a2a2a;
}

/* Width */

.max-width-1280px {
  max-width: 1280px !important;
}

/* Font size */

.fs-17px {
  font-size: 17px;
}

.fs-20px {
  font-size: 20px;
}

.fs-24px {
  font-size: 24px;
}

.fs-28px {
  font-size: 28px;
}

.fs-34px {
  font-size: 34px;
}

.fs-40px {
  font-size: 40px;
}

.fs-48px {
  font-size: 48px;
}

.fs-64px {
  font-size: 64px;
}

/* Hero Section */

.hero-sec {
  /* background-image: url(../Assets/Img\ 1.png);
  background-size: cover;
  background-position: center; */
  position: relative;
  padding-bottom: 130px !important;
}

.header-sec ul {
  padding-left: 150px !important;
}

.hero-sec-main-content {
  padding-left: 100px !important;
}

.header-sec ul li a {
  color: var(--white);
  font-size: 15px;
  line-height: 26px;
}

.hero-img-sec {
  position: absolute;
  top: 0px;
  z-index: -1;
  filter: brightness(0.6);
}

.hero-img-sec,
.hero-img-sec img {
  width: 100% !important;
  height: 100% !important;
}

.call-now-btn {
  position: absolute;
  background-color: var(--sim-dark-green);
  color: var(--white);
  display: inline-block;
  border-radius: 20px;
  top: 28px;
  right: 28px;
}

.hero-sec-heading {
  max-width: 490px;
  color: var(--white);
  margin-top: 300px !important;
}

.hero-sec-para {
  max-width: 560px;
  color: var(--sim-cream);
}

@media screen and (max-width: 768px) {
  .hero-sec .call-now-btn {
    display: none !important;
  }

  .header-sec ul {
    padding-left: 0px !important;
    justify-content: center !important;
  }

  .hero-sec .hero-sec-main-content {
    padding-left: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .body .hero-sec {
    padding: 0 0px 50px !important;
  }

  .header-sec ul {
    justify-content: space-around !important;
  }

  .header-sec ul li {
    margin: 0 !important;
  }

  .hero-sec .hero-sec-heading {
    font-size: 40px !important;
  }

  .hero-sec .hero-sec-para {
    font-size: 20px !important;
  }
}
